@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --font1: verdana, geneva, tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold ;
    background-color:#dc3545;
    color: #ffff;
    text-align: center;
    height: 50px;
    padding-top: 18px;
}
.titulo{
    color: #ffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
   
}
section{
    padding-top: 10vh;
    padding-bottom:10vh;
    line-height: 2em; /*Espaçamento entre as linhas*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}
section p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px  rgb(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;

}

section.imagem p{
    background-color: rgba(0, 0, 0, 0.514);
    display:inline-block ; /*O display inline-block foi utilizado para se adaptar ao tamanho do conteudo, assim não precisando do width que pode vazar o conteudo  */
    padding: 5px;
    text-shadow: 2px 2px 0px black;
}
section#img01{
    background-image: url(../imagens/WhatsApp\ Image\ 2023-03-14\ at\ 21.42.08.jpeg);
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url(../imagens/WhatsApp\ Image\ 2023-03-14\ at\ 21.47.05.jpeg);
    /* background-size: cover; */
}

footer{
    background-color: #dc3545;
    text-align: center;
    padding: 10px;
}


footer p{
    color: white;
}